<% content_for :title do %>
  Sign in
<% end %>

<%= form_with url: session_path, class: "margin-block-double card flex flex-column" do |form| %>
  <h1 class="text-xx-large text-center"><b>Welcome Back</b></h1>
  <%= form.label :email_address, "Email Address", class: "text-positive text-label" %>
  <%= form.email_field :email_address, 
                      required: true, 
                      autofocus: true, 
                      autocomplete: "username", 
                      placeholder: "Enter your email address", 
                      value: params[:email_address] %><br>

  <%= form.label :password, "Password", class: "text-positive text-label" %>
  <%= form.password_field :password, 
                         required: true, 
                         autocomplete: "current-password", 
                         placeholder: "Enter your password", 
                         maxlength: 72 %>


  <div class="flex justify-between items-center">
    <%= form.label :remember_me do %>
      <%= form.check_box :remember_me %>
      <span class="text-positive">Remember me</span>
    <% end %>
    <p class="text-right"><%= link_to "Forgot your password?", new_password_path, class: "text-positive" %></p>
  </div>

  <%= form.submit "Sign in", class: "btn btn-login" %>

  <hr class="margin-block">

  <p class="text-center">Don't have an account? <%= link_to "Sign up", signup_path, class: "text-positive" %></p>
<% end %>
