<%= turbo_stream.append "categories_list", partial: "categories/category", locals: { category: @category } %>
<%= turbo_stream.update "modal", "" %>
<%= turbo_stream.update "flash", partial: "shared/alert" %>
<%= turbo_stream.update "category_selects" do %>
  <option value="">None</option>
  <% Category.all.each do |category| %>
    <option value="<%= category.name %>"><%= category.name %></option>
  <% end %>
<% end %>