<% content_for :header do %>
  <%= render "shared/header", title: "Forgot your password?", back_path: login_path %>
<% end %>

<div class="flex justify-center items-center py-8">
  <%= form_with url: passwords_path, class: "bg-dark rounded-lg shadow-lg p-8 w-full max-w-md mx-auto" do |form| %>
    <div class="mb-6">
      <%= form.label :email_address, "Email Address", class: "text-positive font-semibold block mb-2" %>
      <%= form.email_field :email_address, 
                          required: true, 
                          autofocus: true, 
                          autocomplete: "username", 
                          placeholder: "Enter your email address", 
                          value: params[:email_address],
                          class: "bg-bg text-white border border-positive rounded-md py-2 px-4 w-full focus:outline-none focus:ring-2 focus:ring-positive" %>
    </div>
    
    <%= form.submit "Email reset instructions", class: "bg-positive text-white font-semibold py-2 px-4 rounded-full w-full hover:opacity-80 transition-all duration-300" %>
  <% end %>
</div>
