<% expenses.each do |expense| %>
  <tr>
    <td><%= expense.date.strftime("%b %d, %Y") %></td>
    <td><%= expense.description %></td>
    <td><%= expense.expense_type.humanize %></td>
    <td><%= expense.income? ? "Income" : "Expense" %></td>
    <td><%= number_to_currency(expense.amount) %></td>
  </tr>
<% end %>