<%= form_with model: @expense, data: { controller: "toggle-income" }, class: "card flex flex-column" do |form| %>
  <%= form.label :amount, class: "text-positive text-label" %>
  <div class="flex justify-between items-center">
    <div class="position-relative">
      <span class="amount-unit">$</span>
      <%= form.number_field :amount, placeholder: "0.00", class: "margin-block", step: "0.01" %>
    </div>
    <%# TODO: Update styling of checkbox %>
    <div>
      <%= form.label :income, class: "text-positive text-label" %>
      <button type="button" class="btn btn-primary">
        <%= form.check_box :income, data: { action: "toggle-income#toggle" } %>
      </button>
    </div>
  </div>

  <%= form.label :description, class: "text-positive text-label" %>
  <%= form.text_field :description, class: "margin-block" %>

  <%= form.label :date, class: "text-positive text-label" %>
  <%= form.date_field :date, value: Date.today, class: "margin-block" %>

  <%# TODO: Add form validation to not allow empty category %>
  <%# <%= form.label :category_ids, "Categories", class: "text-positive text-label" %>
  <%# <%= form.select :category_ids, 
  <%#                   Category.all.map { |category| [category.name, category.id] },
  <%#                   { prompt: "Select categories" }, 
  <%#                   { class: "margin-block" } %>

  <%= form.label :expense_type, class: "text-positive text-label" %>
  <%= form.select :expense_type, ["One-Time", "Monthly", "Yearly"], { selected: "One-Time" }, { class: "margin-block" } %>

  <div class="margin-block">
    <%= form.submit "Add Expense", class: "btn btn-primary btn--submit", 
                                    data: { toggle_income_target: "submitButtonText", 
                                    disable_with: "Saving..." } %>
  </div>
<% end %>

