<% content_for :title, "Expense Dashboard" %>

<% content_for :header do %>
  <nav class="flex justify-between items-center">
    <h1 class="text-xx-large">
      <b>Dashboard</b>
    </h1>
    <% if authenticated? %>
      <%= link_to "Log Out", logout_path, class: "btn btn-primary", method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Log In", login_path, class: "btn btn-primary" %>
    <% end %>
  </nav>
<% end %>

<% content_for :analytics do %>
  <section class="card">
    <%= turbo_frame_tag "analytics_content" do %>
      <div class="flex justify-between items-center">
        <h2 class="margin-block-end">Total Spent: <span class="text-accent text-large">$<%= format("%.2f", @total_spendings) %></span></h2>
        <div data-controller="dropdown" class="position-relative">
          <button type="button" class="btn btn-dropdown" data-action="click->dropdown#toggle">
            View
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
          <ul
            data-dropdown-target="menu"
            class="dropdown-menu"
            data-action="click@window->dropdown#hide"
          >
            <%= link_to "Income", dashboard_analytics_path(type: :income), 
                class: "dropdown-item", 
                data: { turbo_frame: "analytics_content" } %>
            <%= link_to "Spent", dashboard_analytics_path(type: :spendings), 
                class: "dropdown-item #{params[:type].to_s.empty? ? 'disabled' : ''}", 
                data: { turbo_frame: "analytics_content" } %>
            <%= link_to "Profits", dashboard_analytics_path(type: :profits), 
                class: "dropdown-item",
                data: { turbo_frame: "analytics_content" } %>
          </ul>
        </div>
      </div>

      <%= column_chart chart_path_for(params[:type]),
          thousands: ",",
          library: {
            scales: {
              x: {
                grid: { color: chart_color_for_scheme },
                border: { color: chart_color_for_scheme },
                ticks: { color: chart_color_for_scheme, fontFamily: "Poppins" }
              },
              y: {
                grid: { color: chart_color_for_scheme },
                border: { color: chart_color_for_scheme },
                ticks: { color: chart_color_for_scheme, fontFamily: "Poppins" }
              }
            }
          } %>
    <% end %>
  </section>
<% end %>

<div class="flex justify-between items-center">
  <h2>Activity</h2>

  <%= link_to new_expense_path, class: "btn btn-secondary flex items-center justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg> 
    <p>Add Expense</p>
  <% end %>
</div>

<%= turbo_frame_tag "expenses_content" do %>
  <div class="flex justify-end items-center">
    <div data-controller="dropdown" class="position-relative">
      <button type="button" class="btn btn-transparent btn-gap-less text-opacity" data-action="click->dropdown#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
        </svg>
        Sort by: <%= sort_by_direction %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <ul
        data-dropdown-target="menu"
        class="dropdown-menu"
        data-action="click@window->dropdown#hide"
      >
        <%= link_to "Recent", expenses_path(sort: :desc), 
            class: "dropdown-item #{params[:sort] != 'asc' ? 'disabled' : ''}", 
            data: { turbo_frame: "expenses_content" } %>
        <%= link_to "Oldest", expenses_path(sort: :asc), 
            class: "dropdown-item #{params[:sort] == 'asc' ? 'disabled' : ''}", 
            data: { turbo_frame: "expenses_content" } %>
      </ul>
    </div>
  </div>
<%# TODO: Cache results if needed %>
  <%= render(@expenses) || "You currently have no expenses" %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<% end %>
