<% content_for :title, "Expense Dashboard" %>

<% content_for :header do %>
  <nav class="flex justify-between items-center">
    <h1>
      <b>Hello, <%= Current.user.email_address || "Ken" %></b>
    </h1>
    <button class="btn btn-primary">
      <% if authenticated? %>
        Log Out
      <% else %>
        Log In
      <% end %>
    </button>
  </nav>
<% end %>

<% content_for :analytics do %>
  <h2 class="margin-block">Total Expenses: <span class="text-accent text-xx-large">$<%= @total_expenses %></span></h2>
  <%# TODO: use separate api for fetching large data %>
  <%= pie_chart @spendings_by_month, colors: ["#F8AF6A", "#6953F5"] %>
<% end %>

<div class="flex justify-between items-center margin-block">
  <h2>Activity</h2>
  <%= link_to new_expense_path, class: "btn btn-primary flex items-center justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg> 
    <p>Add Expense</p>
  <% end %>
</div>

<%= render(@expenses) || "You currently have no expenses" %>

