<!DOCTYPE html>
<html>
  <head>
    <title><%= "TrackExp | " + (content_for(:title) || "Expense Tracker") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="TrackExp - Simple expense tracking to help you save money and build wealth">
    <meta name="keywords" content="Expense Tracker, Personal Finance, Budget Management, Financial Tracking, Money Management, Wealth Building">
    <meta property="og:title" content="TrackExp - Simple Expense Tracking">
    <meta property="og:description" content="Track expenses, save money, and build wealth with a simple, intuitive interface">
    <meta property="og:image" content="https://trackexp.com/favicon.png">
    <meta property="og:url" content="https://trackexp.com">
    <meta property="og:type" content="website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag "favicon.png" %>

    <%# Include Tailwind CSS %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>

    <meta name="color-scheme" content="dark">
  </head>

  <body class="font-sans overflow-x-hidden bg-white dark:bg-bg text-bg dark:text-white">
    <%= render "shared/alert" %>

    <%= yield %>

    <footer id="footer">
      <%= yield :footer %>
    </footer>

  </body>
</html>
