<!DOCTYPE html>
<html>
  <head>
    <title><%= "TrackExp | " + (content_for(:title) || "Expense Tracker") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="TrackExp - A simple and intuitive expense tracker to manage your finances with ease">
    <meta name="keywords" content="Expense Tracker, Personal Finance, Budget Management, Financial Tracking, Money Management">
    <meta property="og:title" content="TrackExp">
    <meta property="og:description" content="A simple and intuitive expense tracker">
    <meta property="og:image" content="https://trackexp.com/favicon.png">
    <meta property="og:url" content="https://trackexp.com">
    <meta property="og:type" content="website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag "favicon.png" %>

    <%# Include Tailwind CSS %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>

    <meta name="color-scheme" content="dark">
  </head>

  <body class="bg-bg dark:bg-bg-light text-white font-sans overflow-x-hidden">
    <%= render "shared/alert" %>

    <div id="container" class="min-h-screen flex flex-col">
      <header id="header" class="p-4">
        <%= yield :header %>
      </header>
      
      <main id="main" class="flex-grow p-4">
        <%= yield %>
      </main>

      <footer id="footer">
        <%= yield :footer %>
      </footer>
    </div>

  </body>
</html>
